html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #1D2228 !important;
    background-attachment: fixed;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: black;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo{
    color: #FB8122;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700px;
    text-decoration: none !important;
}

.logo:hover{
  color: #FB8122;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a.active,
nav ul li a:hover{
    background: #FB8122;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

#content{
    background-color: #1D252D;
    padding-top: 20px;
}

section{
    color: #919295;
    border-bottom: 2px solid #FB8122;
    margin-bottom: 10px;
}

h1, h2{
    color: #FB8122;
    font-weight: bold;
}

section p a{
    color: #FB8122;
}

section p a:hover{
    color: #FB8122;
}

iframe{
    text-align: center;
}

.direitos_reservados{
    background-color: #FB8122;
    color: white;
    text-align: center;
    padding-top:45px;
    padding-bottom: 45px;
    width: 100%;
}

.direitos_reservados a {
    color: white;
}

@media(max-width: 1200px){
    header{
        margin: 20px;
    }
    
    section{
        margin-left: 10px;
    }
}

@media(max-width: 768px){
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #FB8122;
    }
    
    .menu-toggle:before{
        content: '\f0c9'; 
        font-family: fontAwesome;
        line-height: 40px;
    }
    
    .menu-toggle.active:before{
        content: '\f00d';   
    }
    
    nav{
        display: none;
    }
    
    
    nav.active{
        display: block;
        width: 100%;
    }
    
    nav.active ul{
        display: block;
    }
    
    nav.active ul li a {
        margin: 0;
    }
    
    section img{
        width: 100%!important;
    }
    
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 20px;
    }
    
    .logo{
        font-size: 20px;
    }
}

